html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    background-color: #7D8CC4;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
.my-row {
    margin: 1%;
}
.my-background {
-webkit-border-radius: 25px;
border-radius: 25px;
margin-bottom: 20px;
margin-top: 20px;
}
.icon {
  color: #383838;
}
.iconfooter {
  color: white;
}
.hyperlink {
  font-size: large;
  color: #383838;
  font-weight: 500;
}